{% extends 'main_layout_plotly.html' %}
{% load static%}

{% block style%}
  <link rel="stylesheet" href="{% static 'css/dashboard_plotly.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard_filter_form.css' %}">
{% endblock style%}

{% block script%}
  <script src="{% static 'js/charts_plotly.js' %}"></script>
  <script src="{% static 'js/dashboard_tool_functions_plotly.js' %}"></script>
  <script>
     function getCSRFToken() {
    return document.cookie.split('; ')
        .find(row => row.startsWith('csrftoken='))
        ?.split('=')[1];
}
  </script>
  
{% endblock script%}

{% block content %}
<div class="charts-area">
  <div class="grid-container grid-3col">
    <div class="grid-container-nested grid-1col">
      <div class="grid-container-nested grid-2col">
        {% include 'dashboard/chart_box_plotly.html' with chart=chart1 exception="-single-value"%}
        {% include 'dashboard/chart_box_plotly.html' with chart=chart2 exception="-single-value"%}
      </div>
      {% include 'dashboard/chart_box_plotly.html' with chart=chart3 exception="-single-value"%}
    </div>
    {% include 'dashboard/chart_box_plotly.html' with chart=chart4%}
    {% include 'dashboard/chart_box_plotly.html' with chart=chart5%}
    {% include 'dashboard/chart_box_plotly.html' with chart=chart6%}
    <div class="grid-container-nested grid-1col">
      {% include 'dashboard/chart_box_plotly.html' with chart=chart7 exception="-single-value"%}
      {% include 'dashboard/chart_box_plotly.html' with chart=chart8 exception="-single-value"%}
    </div>
    <div class="grid-container-nested grid-1col">
      {% include 'dashboard/chart_box_plotly.html' with chart=chart9 exception="-single-value"%}
      <div class="grid-container-nested grid-2col">
        {% include 'dashboard/chart_box_plotly.html' with chart=chart10 exception="-single-value"%}
        {% include 'dashboard/chart_box_plotly.html' with chart=chart11 exception="-single-value"%}
      </div>
    </div>
</div>
</div>

<button class="btn open-report-btn" type="button" data-bs-toggle="collapse" id="collapseToggle" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-expand-vertical" viewBox="0 0 16 16">
    <path d="M8 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8"/>
  </svg>
</button>
<div>
  <div class="collapse collapse-horizontal" id="collapseWidthExample" style="padding: 10px;">
    <div class="card card-body" style="width: 300px;">
      This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
    </div>
  </div>
</div>
{% endblock content %}

{% block end_script%}

{% endblock end_script%}