{% extends 'main_layout_plotly.html' %}
{% load static%}

{% block style%}
  <link rel="stylesheet" href="{% static 'css/dashboard_plotly.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard_filter_form.css' %}">
{% endblock style%}

{% block script%}
  <script src="{% static 'js/charts_plotly.js' %}"></script>
  <script src="{% static 'js/dashboard_tool_functions_plotly.js' %}"></script>
  <script src="{% static 'js/ai_generate_report_plotly.js' %}"></script>
  <script>
     function getCSRFToken() {
    return document.cookie.split('; ')
        .find(row => row.startsWith('csrftoken='))
        ?.split('=')[1];
}
  </script>
  
{% endblock script%}

{% block content %}
<div class="charts-area"  data-current-view="singleChartView">
  <div id="single-chart-view-carousel" class="carousel slide">
    <div class="carousel-inner">
      {% for chart_id, chart_data in charts.items %}
        {% if forloop.first %}
        <div class="carousel-item active" style="padding: 10px;">
          {% include 'dashboard/chart_box_plotly.html' with chart=chart_data exception="-single-chart-view"%}
        </div>
        {% else %}
        <div class="carousel-item" style="padding: 10px;">
          {% include 'dashboard/chart_box_plotly.html' with chart=chart_data exception="-single-chart-view"%}
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="d-flex justify-content-between" style="padding: 0px 10px 10px 10px;">
    <button type="button" class="btn change-chart-btn" data-bs-target="#single-chart-view-carousel" data-bs-slide="prev">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
      <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
    </svg>
    </button>

    <div class="carousel-indicators">
      {% for chart_id, chart_data in charts.items %}
        {% if forloop.first %}
        <button type="button" data-bs-target="#single-chart-view-carousel" data-bs-slide-to="0" class="active" aria-label="Chart {{forloop.counter0}}" aria-current="true"></button>
        {% else %}
        <button type="button" data-bs-target="#single-chart-view-carousel" data-bs-slide-to="{{forloop.counter0}}" aria-label="Chart {{forloop.counter0}}" class=""></button>
        {% endif %}
      {% endfor %}
    </div>

    <button type="button" class="btn change-chart-btn" data-bs-target="#single-chart-view-carousel" data-bs-slide="next">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
      <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
    </svg>
    </button>
  </div>
</div>

<button class="btn open-report-btn" type="button" data-bs-toggle="collapse" id="report-ara-btn" data-bs-target="#reportAreaCollapse" aria-expanded="false" aria-controls="reportAreaCollapse">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-expand-vertical" viewBox="0 0 16 16">
    <path d="M8 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8"/>
  </svg>
</button>
<div>
  <div class="collapse collapse-horizontal" id="reportAreaCollapse" style="max-height: 100%;height: 100%;">
    <div class="card card-body" style="width: 300px;height: 100%;background-color: #3b3e61;color: white; overflow-y: scroll;">
      <div class="d-flex">
        <div class="p-2">Report language:</div>
        <div class="p-2 flex-grow-1">
          <div class="btn-group" style="width: 100%;height: 25px;max-height: 25px;">
            <button class="btn btn-secondary btn-sm" id="report-lang-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
              English
            </button>
            <ul class="dropdown-menu" id="report-lang-dropdown">
              <li style="height: 25px;"><a class="dropdown-item" href="#" data-lang="english">English</a></li>
              <li style="height: 25px;"><a class="dropdown-item" href="#" data-lang="thailand">Thai</a></li>
              <li style="height: 25px;"><a class="dropdown-item" href="#" data-lang="chinese">Chinese</a></li>
              <li style="height: 25px;"><a class="dropdown-item" href="#" data-lang="burmese">Burmese</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="report-area" style="width: 100%;height: 100;max-width: 100%;max-height: 100%;margin-top: 10px;"></div>
    </div>
    
  </div>
</div>
{% endblock content %}

{% block end_script%}
<script>
  document.addEventListener("DOMContentLoaded", function() {
      // Select the dropdown menu with ID
      document.getElementById('report-lang-dropdown').addEventListener("click", function(event) {
          if (event.target.classList.contains('dropdown-item')) {
              event.preventDefault(); // Prevent default action of anchor tag
  
              var lang = event.target.getAttribute("data-lang"); // Get language code
              var text = event.target.textContent; // Get the text of the selected item
  
              // Update the button text
              document.getElementById('report-lang-btn').textContent = text;
          }
      });
  });
</script>

<script>
  // Get all buttons with the specific class
  const buttons = document.querySelectorAll('.change-chart-btn');

  // Add event listener to each button
  buttons.forEach(button => {
    button.addEventListener('click', () => {
      const carouselInner = document.querySelector('.carousel-inner');
      const elements = carouselInner.children;

      Array.from(elements).forEach((element) => {
        setTimeout(() => {
          if (element.classList.contains('active')) {
          const chartContainerId = element.children[0].id;
          const chartId = chartContainerId.replace('-container', '');

          document.getElementById(`${chartId}-reset-size`).click();
        }
        }, 1000);
      });
    });
  });
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  {% for chart_id, chart in charts.items %}
  async function fillChart_{{chart.chartId}}(formData){
    try {
      showLoadingSpinner("{{chart.chartId}}"); // Show loading spinner before fetching data
      const response = await fetch('{{chart.data_url}}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCSRFToken(), // Include CSRF token for security
        },
        body: JSON.stringify({title: "{{chart.title}}", formData: formData}),
      });
      const data = await response.json();
  
      {% if chart.type == 'single_value' %}
      
      createSingleValueChart("{{chart.chartId}}-title", "{{chart.chartId}}", "{{chart.title}}", data.data);
  
      {% elif chart.type == 'chart' %}
  
      createChart("{{chart.chartId}}", "{{chart.title}}", data.data, data.titles, data?.additional_layout_config ?? null);
  
      {% elif chart.type == 'table' %}
  
      createTable("{{chart.chartId}}", data.data);
  
      {% endif %}
  
    } catch (error) {
      console.error('Error fetching arrivals data:', error);
    }
  }
  
  // Add event listener to filter form
  if (document.getElementById('{{ chart.chartId }}-filterForm')) {
      document.getElementById('{{ chart.chartId }}-filterForm').addEventListener('submit', async (event) => {
          event.preventDefault();
          const formData = new FormData(event.target);
          const jsonData = JSON.stringify(Object.fromEntries(formData));
          console.log({{chart.chartId}}, jsonData);
  
          await fillChart_{{chart.chartId}}(jsonData);
      });
  }
  {% endfor %}
});
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    Promise.all([
    {% for chart_id, chart_data in charts.items %}
      document.getElementById('{{ chart_data.chartId }}-refresh').click(),
    {% endfor %}
    ]).then(() => {
    console.log('All charts loaded.');
  });
});
</script>
{% endblock end_script%}